
/*@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Dancing+Script&family=Leckerli+One&family=Montserrat:wght@200;500&family=Pacifico&family=Playball&family=Poppins:wght@300&family=Righteous&family=Rokkitt&family=Solway&display=swap');



nav{
    font-family: 'Leckerli One', cursive;
   
    background-color:rgb(180, 115, 226);
    box-shadow:2px -1px black;
}
.active .todo-icon{
    color:red;
}
.active .removedtodo-icon{
    color:red;
}*/




