@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Crimson+Text:wght@600&family=Dancing+Script&family=Leckerli+One&family=Montserrat:wght@200;500&family=Mukta:wght@300&family=Pacifico&family=Playball&family=Poppins:wght@300&family=Righteous&family=Rokkitt&family=Rubik+Puddles&family=Solway&display=swap');
.name-todo,.time-todo,.deadline-todo{
    font-family: 'Mukta', sans-serif;
    color: white; 
}
.todo-card{
    background-image: url("https://media.istockphoto.com/id/1138288769/photo/light-purple-defocused-blurred-motion-abstract-background.jpg?s=612x612&w=0&k=20&c=aBWnZHZBypJSrqrMwfQ5j6TL9Osw2XYrHFmWQp8lHZo=");

}
.todo-image{
    width:250px;
    height:180px;
}
.card-body{
   
}